body {
		background: #222;
		margin-top: 20px;
	}

	h3 {
		color: #eee;
		font-family: Verdana;
	}

	.thumbnails img {
		height: 80px;
		border: 4px solid #555;
		padding: 1px;
		margin: 0 10px 10px 0;
	}

	.thumbnails img:hover {
		border: 4px solid #00ccff;
		cursor:pointer;
	}

	.preview img {
		border: 4px solid #444;
		padding: 1px;
		height: 500px;
	}